venv
temp
test.
app/temp
app/frontend/node_modules
app/config.yaml
build
images
transitions
dist
images
transitions
.env
BaseVideo9_16.mp4
output_video.mp4
subtitles.srt
__pycache__/elevenapi.cpython-311.pyc
BaseVideo_9_16_2.mp4
basevideogenerated.mp4
